body {
    background: url(../images/white_carbonfiber_@2X.png);
}

.car-text {
    z-index: 9;
    position: absolute;
    bottom: 1.5em;
    right: 0;
    left: 0;
}

.name-decor {
    color: white;
    font-weight: 600;
    text-shadow: 3px 3px black;
}

.home-tagline {
    text-transform: uppercase;
}


.slide-height-1 {
    max-height: 340px;
}
.slide-height-2 {
    max-height: 210px;
}

#thirtynine-steps-card {
    background: url(../images/39-steps-card-bg.jpg) center center;
}
#secret-agent-card {
    background: url(../images/secret-agent-card-bg.jpg) center center;
}
#sabotage-card {
    background: url(../images/sabotage-card-bg.jpg) center center;
}


@media only screen and (max-width: 768px) {

    .name-decor {
        font-size: 42px;
    }

    .home-tagline {
        font-size: 16px;
    }

    .car-text {
        bottom: .5em;
    }
} 

@media only screen and (max-width: 576px) {

    .name-decor {
        font-size: 24px;
    }

    .home-tagline {
        font-size: 10px;
    }

    .car-text {
        bottom: .25em;
    }

    .feat-film {
        padding-top: .5em;
        padding-left: 0;
    }
} 
