body {
    background: url(../images/green_cup.png);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.nice-bottom-border {
    border-bottom: 8px goldenrod solid;
}

.car-text {
    z-index: 9;
    position: absolute;
    bottom: 1.5em;
    right: 0;
    left: 0;
}

.name-decor {
    color: white;
    font-weight: 600;
    text-shadow: 3px 3px black;
}

.slide-height-1 {
    max-height: 340px;
}
.slide-height-2 {
    max-height: 210px;
}


.footer {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {

    .name-decor {
        font-size: 42px;
    }

    .home-tagline {
        font-size: 16px;
    }

    .car-text {
        bottom: .5em;
    }
} 

@media only screen and (max-width: 576px) {

    .name-decor {
        font-size: 24px;
    }

    .home-tagline {
        font-size: 10px;
    }

    .car-text {
        bottom: .25em;
    }

    .feat-film {
        padding-top: .5em;
        padding-left: 0;
    }

    .feat-img{
        height: 150px;
        width: 150px;
    }
} 
